{% extends "reservation/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} Booking Details {% endblock %}
{% block content %}
<div class="bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                <a href="{% url "reservation:trip_list" 'all' %}"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Trips
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{object.trip.accommodation.name | title}}
                        Trip [{{object.trip.date_from}}] [{{object.trip.id}}]</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'reservation:trip_booking_list' object.trip.id %}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Reservation list</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">[{{object.get_rooms_count}} rooms] [{{object.name}}] [{{object.phone}}]</a>
                </div>
            </li>
        </ol>
    </nav>
    <div class="flex flex-wrap my-4 gap-2">
        <a href=''
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer">
            Pay</a>
        <a class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">Edit</a>
            
        <a class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">Print</a>
        <a href=''
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium
            rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
            cursor-pointer">Delete
            booking</a>
    </div>
    
    <section class="hotel_detail flex flex-col flex-wrap md:flex-row h-auto w-[100%] my-4 gap-2">
        <div class="w-[100%] md:w-[48%] xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">Reservation Details</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200 ">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Booking ID
                            </th>
                            <td class="px-3 py-2">
                                {{object.id}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Trip
                            </th>
                            <td class="px-3 py-2">
                                {{object.trip}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Adults
                            </th>
                            <td class="px-3 py-2">
                                {{object.adults}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Children
                            </th>
                            <td class="px-3 py-2">
                                {{object.children}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Extra Seats
                            </th>
                            <td class="px-3 py-2">
                                {{object.extra_seats}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Total Seats
                            </th>
                            <td class="px-3 py-2">
                                {{object.get_total_seats}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Status
                            </th>
                            <td class="px-3 py-2">

                                {% if object.get_status == 'previous' %}
                                <span
                                    class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">Previous</span>
                                {% elif object.get_status == 'ongoing' %}
                                <span
                                    class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">Ongoing</span>
                                {% else %}
                                <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded
                                    dark:bg-blue-200 dark:text-blue-800">{{object.get_status}}</span>
                                {% endif %}


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[100%] md:w-[48%]  xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">Personl Details</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Name
                            </th>
                            <td class="px-3 py-2">
                                {{object.name}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Email
                            </th>
                            <td class="px-3 py-2">
                                {{object.email}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Phone Numbre
                            </th>
                            <td class="px-3 py-2">
                                {{object.phone}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Phone Numbre 2
                            </th>
                            <td class="px-3 py-2">
                                {{object.phone2}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Created By
                            </th>
                            <td class="px-3 py-2">
                                {{object.creation_user}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Created at
                            </th>
                            <td class="px-3 py-2">
                                {{object.creation_date}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Total price
                            </th>
                            <td class="px-3 py-2">
                                {{object.get_total_price}}
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="w-[100%] md:w-[48%]  xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">Price Details</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                        {% comment %} <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Status
                            </th>
                            <td class="px-3 py-2">
                                {{object.get_status}}
                            </td>
                        </tr> {% endcomment %}
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Reservation Price | Discount
                            </th>
                            <td class="px-3 py-2">
                                {{object.get_primary_price}} | -{{object.discount_percentage}}%
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Extra discount
                            </th>
                            <td class="px-3 py-2">
                                -{{object.discount_amount}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Price after discount
                            </th>
                            <td class="px-3 py-2">
                                {{object.get_primary_price_after_discount}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Extra Seats price
                            </th>
                            <td class="px-3 py-2">
                                +{{object.get_extra_seats_price}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Programs Price
                            </th>
                            <td class="px-3 py-2">
                                +{{object.get_programs_price}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-bold text-gray-900 dark:text-white whitespace-nowrap">
                                Total price
                            </th>
                            <td class="px-3 py-2 font-bold text-xl">
                                {{object.get_total_price}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-bold text-gray-900 dark:text-white whitespace-nowrap">
                                Paid | Remaining
                            </th>
                            <td class="px-3 py-2 font-bold text-xl">
                               <span class="text-green-700">{{object.paid_amount}}</span> | <span
                                   class="text-red-700">{{object.get_remained_price}}</span>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[100%] md:w-[48%]  xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">Programs Details</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-3 py-2">
                            Name
                        </th>
                        <th scope="col" class="px-3 py-2">
                            Quantity
                        </th>
                        <th scope="col" class="px-3 py-2">
                            Price
                        </th>
                    </tr>
                </thead>
                    <tbody>
                        
                        {% for p in object.programs.all %}
                        <tr
                        class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {{p.program.name}}[{{p.program.price}}]
                            </th>
                            <td class="px-3 py-2">
                                {{p.quantity}}
                            </td>
                            <td class="px-3 py-2">
                                {{p.get_price}}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr
                        class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                Total
                            </th>
                            <td class="px-3 py-2">
                                
                            </td>
                            <td class="px-3 py-2 font-bold">
                                {{object.get_programs_price}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[100%] md:w-[48%]  xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">Payment Details</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200 p-2 dark:bg-gray-400 dark:text-white">
                {{payForm | crispy}}
            </div>
        </div>
    </section>
</div>


{% endblock %}