{% load crispy_forms_field %}
{% comment %} <div id="div_{{ field.auto_id }}" class="clearfix control-group{% if field.errors %} error{% endif %}">
	{% if field.label %}
	    <label for="id_{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
	            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
	    </label>
	 {% endif %}
	<div class="controls">
		<div id="{{ field.auto_id }}" class="input-append date" data-date="{% now 'd-m-Y' %}" data-date-format="dd-mm-yyyy">
	       	{% crispy_field field %}<span class="add-on"><i class="icon-calendar"></i></span>
	       	{% include 'bootstrap/layout/field_errors.html' %}
	    </div>
                {% include 'bootstrap/layout/help_text.html' %}
	</div>
</div> {% endcomment %}

<div id="div_{{ field.auto_id }}" dir="rtl">
    {% if field.label %}
    <label for="id_{{ field.id_for_label }}"
        class="font-bold block mb-2 control-label {% if field.field.required %}requiredField{% endif %}">
        {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    <span>(month/day/year)</span>
    {% endif %}
    {% if field.errors %} {{field.errors}}{% endif %}
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
        {% crispy_field field 'class' 'date_until bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'%}
    </div>
</div>
