{% extends "reservation/base.html" %}
{% load i18n %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block title %} {% trans 'New Hotel Package' %} {% endblock %}
{% block head %}
    <script src="https://unpkg.com/flowbite@1.4.5/dist/datepicker.js"></script>
{% endblock %}

{% block content %}
    <form method="post" class='text-sm'>
        {% csrf_token %}
        {% crispy form form.helper %}
        {% comment %} <input type="submit" value="Confirm" class='focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium
                rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
                cursor-pointer my-4'> {% endcomment %}
    
        <a href="{{ request.META.HTTP_REFERER }}"
                 class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer w-20">
                 {% trans 'Back' %}
                 </a>
</form>
{% endblock %}
