{% extends "reservation/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %} {% trans 'New Hotel Package' %} {% endblock %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
{% endblock %}

{% block content %}
    <div class="container bg-white dark:bg-gray-600 rounded-md p-4">

    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-1 flex-wrap">
            <li class="inline-flex items-center">
                <a href="{% url "reservation:destination_list" %}"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                    ml-2
                                    {% else %}
                                    mr-2
                                {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    {% trans "Destinations" %}
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{{hotel.destination.get_absolute_url}}"
                        class=" text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">{{hotel.destination.name|title}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{{hotel.get_absolute_url}}"
                        class=" text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">{{hotel.name|title}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'reservation:package_list' hotel.id %}?time=available"
                        class=" text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{% trans 'Packages' %}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#"
                        class="text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{% trans 'Create' %}</a>
                </div>
            </li>
        </ol>
    </nav>
    
    <form method="post" class='text-sm my-3' autocomplete='off'>
        {% csrf_token %}
        {% crispy form form.helper %}
        {% comment %} {{form | crispy}} {% endcomment %}
    
        <a href="{{ request.META.HTTP_REFERER }}"
                 class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer w-20">
                 {% trans 'Back' %}
                 </a>
    </form>
    </div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> {% endcomment %}
    <script
    src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
    integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("[name='date_from']").datepicker({ dateFormat:"yy-mm-dd", });
            $("[name='date_until']").datepicker({ dateFormat:"yy-mm-dd", });
            // $("[name='hotel']").attr('readonly',true)
            // select all input type number (cost and price fields) and disable
            $(":input[type=number]").attr('readonly',true)
            // Add event listner to the checkbox to enable/disable the inputs
            // SINGLE ROOMS
            $("[name=single_room_half_available]").change(function() {
                $('[name=single_room_half]').attr('readonly',!this.checked)
                $('[name=single_room_half]').val(0)
                $('[name=single_room_half_cost]').attr('readonly',!this.checked)
                $('[name=single_room_half_cost]').val(0)
            });

            $("[name=single_room_full_available]").change(function() {
            $('[name=single_room_full]').attr('readonly',!this.checked)
            $('[name=single_room_full_cost]').attr('readonly',!this.checked)
            });

            // DOUBLE ROOMS
            $("[name=double_room_half_available]").change(function() {
            $('[name=double_room_half]').attr('readonly',!this.checked)
            $('[name=double_room_half_cost]').attr('readonly',!this.checked)
            });

            $("[name=double_room_full_available]").change(function() {
            $('[name=double_room_full]').attr('readonly',!this.checked)
            $('[name=double_room_full_cost]').attr('readonly',!this.checked)
            });

            // TRIPLE ROOMS
            $("[name=triple_room_half_available]").change(function() {
            $('[name=triple_room_half]').attr('readonly',!this.checked)
            $('[name=triple_room_half_cost]').attr('readonly',!this.checked)
            });

            $("[name=triple_room_full_available]").change(function() {
            $('[name=triple_room_full]').attr('readonly',!this.checked)
            $('[name=triple_room_full_cost]').attr('readonly',!this.checked)
            });


        });
    </script>
{% endblock %}
