{% extends "reservation/base.html" %}
{% load static %}
{% load i18n %}
    {% block title %} {{object}} {% endblock %}


{% block content %}
<div class="container bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                    <a href="{% url "reservation:destination_list" %}"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                    ml-2
                                    {% else %}
                                    mr-2
                                {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        {% trans "Destinations" %}
                    </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{{object.hotel.get_absolute_url}}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{object.hotel.name|title}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{{object.get_absolute_url}}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{object.label|title}}</a>
                </div>
            </li>
        </ol>
    </nav>
    <hr class="my-2 border rounded-md dark:border-gray-800"/>
    <!-- Buttons -->
    <div class="flex flex-wrap my-2 gap-2">
        <a href="{% url 'reservation:booking_create' object.hotel.id object.id %}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer">
            {% trans "New Reservation" %}
        </a>
        <a href="{{object.hotel.get_absolute_url}}" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">{% trans "Hotel Details" %}</a>
        <a href="{% url 'reservation:booking_list_package' object.id %}" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">{% trans "Reservation list" %}</a>    
        <a 
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium
            rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
            cursor-pointer">
            {% trans "Delete package" %}</a>
        </a>
    </div>
    <!-- Tables -->
    <section class="hotel_detail flex flex-col flex-wrap md:flex-row h-auto w-[100%] my-4 gap-2">
        <div class="w-[100%] md:w-[48%] xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">{% trans 'Package Details' %}</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm {% if LANGUAGE_CODE == 'ar' %}
                        text-right
                        {% else %}
                        text-left
                    {% endif %} text-gray-500 dark:text-gray-400">
                    <tbody>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Hotel' %}
                            </th>
                            <td class="px-3 py-2">
                                {{ object.hotel.name | title }}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'label' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.label}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'From' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.date_from}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'To' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.date_until}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Creation user' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.creation_user}}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[100%] md:w-[48%] xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">{% trans 'Half Board' %}</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm {% if LANGUAGE_CODE == 'ar' %}
                        text-right
                        {% else %}
                        text-left
                    {% endif %} text-gray-500 dark:text-gray-400">
                    <tbody>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Single Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{ object.single_room_half }}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Double Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.double_room_half}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Triple Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.triple_room_half}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-[100%] md:w-[48%] xl:w-[32%] p-0 mb-2 md:mb-0 drop-shadow-md ">
            <h2 class="my-2 font-bold text-xl dark:text-white">{% trans 'Full Board' %}</h2>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2 border border-gray-200">
                <table class="w-full text-sm {% if LANGUAGE_CODE == 'ar' %}
                        text-right
                        {% else %}
                        text-left
                    {% endif %} text-gray-500 dark:text-gray-400">
                    <tbody>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Single Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{ object.single_room_full }}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Double Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.double_room_full}}
                            </td>
                        </tr>
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                            <th scope="row"
                                class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                {% trans 'Triple Room' %}
                            </th>
                            <td class="px-3 py-2">
                                {{object.triple_room_full}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}