{% load i18n %}
<div class="p-2 max-w-[20rem] m-auto" dir="ltr">
    <div class="plane">
        <div dir='rtl' class=''>
            <h3 class="text-sm  dark:text-white my-1">[{{buss.id}}]{{buss.label}}</h3>
            <p class="text-sm  dark:text-white my-1">{% trans 'From' %}: {{buss.origin}}</p>
            <p class="text-sm dark:text-white my-1">{% trans 'To' %}: {{buss.destination}}</p>
        </div>
        <div class="fuselage">
            
        </div>
        <ol class="cabin fuselage">
            <li class="row row--1">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=1>
                        1
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=2>
                         2
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">
                        
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=3>
                          3
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=4>
                           4
                    </li>
                </ol>
                
                
            </li>
            <li class="row row--2">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=5>
                        5
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=6>
                        6
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=7>
                        7
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=8>
                        8
                    </li>
                </ol>
            </li>
            <li class="row row--3">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=9>
                        9
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=10>
                        10
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=11>
                        11
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=12>
                        12
                    </li>
                </ol>


            </li>
            <li class="row row--4">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=13>
                        13
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=14>
                        14
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=15>
                        15
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=16>
                        16
                    </li>
                </ol>
            </li>
            <li class="row row--5">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=17>
                        17
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=18>
                        18
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=19>
                        19
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=20>
                        20
                    </li>
                </ol>


            </li>
            <li class="row row--6">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=21>
                        21
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=22>
                        22
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                </ol>


            </li>
            <li class="row row--7">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=23>
                        23
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=24>
                        24
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                </ol>


            </li>
            <li class="row row--8">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=25>
                        25
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=26>
                        26
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=27>
                        27
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=28>
                        28
                    </li>
                </ol>


            </li>
            <li class="row row--9">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=29>
                        29
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=30>
                        30
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=31>
                        31
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=32>
                        32
                    </li>
                </ol>


            </li>
            <li class="row row--10">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=33>
                        33
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=34>
                        34
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=35>
                        35
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=36>
                        36
                    </li>
                </ol>


            </li>
            <li class="row row--11">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=37>
                        37
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=38>
                        38
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=39>
                        39
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=40>
                        40
                    </li>
                </ol>


            </li>
            <li class="row row--12">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=41>
                        41
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=42>
                        42
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 ">

                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=43>
                        43
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=44>
                        44
                    </li>
                </ol>


            </li>
            <li class="row row--12">
                <ol class="flex flex-nowrap justify-center list-none p-0 m-0 cursor-pointer text-white">
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=45>
                        45
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=46>
                        46
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=47>
                        47
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=48>
                        48
                    </li>
                    <li class="flex p-2 relative flex-1 justify-center m-1 rounded-md st{{bus_id}}" data-num=49>
                        49
                    </li>
                </ol>


            </li>
        </ol>
        
    </div>
</div>
<script type="text/javascript">
    let booked_{{bus_id}} = {{seats}}
    const all_seats_{{bus_id}} = document.querySelectorAll('.st{{bus_id}}')
    all_seats_{{bus_id}}.forEach(st =>{
        if (booked_{{bus_id}}.includes(parseInt(st.dataset.num))){
            console.log(`${st.dataset.num} is booked`)
            st.classList.remove('bg-green-500')
            st.classList.add('bg-red-500')
        }
        else{
            console.log(`${st.dataset.num} is not booked`)
            st.classList.remove('bg-red-500')
            st.classList.add('bg-green-500')
        }
    })
</script>