{% extends "reservation/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load humanize %}
{% block title %} {% trans 'Clients list' %}  {% endblock %}
{% block content %}

<div class="bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                <a href=""
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                ml-2
                                {% else %}
                                mr-2
                            {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    {% trans 'Clients' %}
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a 
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{% trans 'Client\'s list' %}</a>
                </div>
            </li>
        </ol>
    </nav>
    <hr class="my-2 border dark:border-gray-800"/>
    <div class="flex flex-wrap my-2 gap-2">
        <a href="{% url 'clients:client_list'%}"
            class="py-2 px-3 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">{% trans 'Clients list' %}</a>
        <a  href="{% url 'clients:client_export_csv'%}"
            class="py-2 px-3 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-yellow-500 rounded-lg border
            border-gray-200 hover:bg-yellow-700 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-yellow-500 dark:text-white dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-yellow-700 cursor-pointer">{% trans 'Export' %} Excel </a>
        
        <form action="{% url 'clients:client_list'%}" >
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">{% trans 'Search' %} </label>
        <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search" id="default-search" name="query" class="py-2 px-3 mr-2 mb-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{% trans 'phone' %}" required="">
        <button type="submit" dir='ltr' class="text-white absolute left-[-8px] bottom-[9px] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-left">{% trans 'Search' %}</button>
        </div>
        </form>
        
    </div>
    <h2 class="my-2 font-bold text-xl dark:text-white">{% trans 'Clients list' %}</h2>
    {% include "reservation/pagination.html"  %}
    <div class="bg-white dark:bg-gray-600 rounded-md my-4">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-right">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Id' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Name' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'phone' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'phone2' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Trip bookings' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Indivdual reservations' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in object_list.all %}
                    <tr
                        class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <td class="px-3 py-2">
                            <a href="{{b.get_absolute_url}}">{{b.id}}</a>
                        </td>
                        <th scope="row" class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            <a href="{{b.get_absolute_url}}">{{b.name}}</a>
                        </th>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.phone}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.phone2}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.trip_bookings.count}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.ibookings.count}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
        
</div>


{% endblock %}