{% extends "reservation/base.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block title %} {% trans 'Trips' %} | {{destination.name | title}} {% endblock %}
{% block head %}

{% endblock %}

{% block content %}
<div class="container bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                <a href="{% url "reservation:destination_list" %}"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                ml-2
                                {% else %}
                                mr-2
                            {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    {% trans 'Destinations' %}
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'reservation:destination_detail' destination.slug%}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{destination|title}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="#"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">
                            {% if time == 'previous' %}
                                {% trans 'Previous Trips' %} [{{object_list.count}}]
                            {% elif time == 'ongoing' %}
                                {% trans 'Ongoing Trips' %} [{{object_list.count}}]
                            {% elif time == 'upcoming' %}
                                {% trans 'Upcoming Trips' %} [{{object_list.count}}]    
                            {% else %}
                                {% trans 'All Trips' %} [{{object_list.count}}]
                            {% endif %}
                        </a>
                </div>
            </li>
        </ol>
    </nav>
    <div class="flex flex-wrap my-4 gap-2">
        {% comment %} <div
            class="inline-flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
            <a href="{% url "reservation:hotel_list" destination.slug %}" class="inline-flex items-center">Hotels
            [<span class="font-bold">{{destination.hotels.count}}</span>]
            </a>
            
        </div> {% endcomment %}
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_destination" destination.slug 'ongoing' %}" class="inline-flex items-center">
            {% trans 'Ongoin Trips' %}
            </a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_destination" destination.slug 'upcoming' %}" class="inline-flex items-center">
            {% trans 'Upcoming Trips' %}
            </a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_destination" destination.slug 'previous' %}" class="inline-flex items-center">
            {% trans 'Previous Trips' %}
            </a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_destination" destination.slug 'all' %}" class="inline-flex items-center">
            {% trans 'All Trips' %}
            </a>
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        {% trans 'Trip Id' %}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {% trans 'Hotel' %}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {% trans 'From' %}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        {% trans 'To' %}
                    </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">
                       {% trans ' Double Room / Person' %}
                    </th>
                    <th scope="col" class="px-6 py-3 whitespace-nowrap">
                        {% trans 'Triple Room / Person' %}
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for trip in object_list.all %}
                    <tr
                    class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                    <td class="px-6 py-4">
                        {{trip.id}}
                    </td>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        {{trip.accommodation.name}}
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{trip.date_from |date:"d / m / Y"}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{trip.date_until |date:"d / m / Y"}}
                    </td>
                    <td class="px-6 py-4">
                        {{trip.double_room_price|intcomma:False}}
                    </td>
                    <td class="px-6 py-4">
                        {{trip.triple_room_price|intcomma:False}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <div class="inline-flex rounded-md shadow-sm">
                            <a href="{% url 'reservation:trip_detail' trip.id%}" aria-current="page" class="py-2 px-4 text-sm font-medium text-blue-700 bg-white {% if LANGUAGE_CODE == 'ar' %}
                                rounded-r-md
                                {% else %}
                                rounded-l-lg
                            {% endif %} border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-blue-400 dark:hover:text-blue-400 dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-blue-400">
                            {% trans 'Details' %}
                            </a>
                     
                            <a href="{% url 'reservation:trip_booking_create' trip.id %}" class="py-2 px-4 text-sm font-medium text-red-900 bg-white {% if LANGUAGE_CODE == 'ar' %}
                                rounded-l-lg
                                {% else %}
                                rounded-r-md
                            {% endif %} border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-gray-700 dark:border-gray-600 dark:text-red-400 dark:hover:text-red-400 dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-red-400">
                            {% trans 'Book' %}
                            </a>
                            </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <!-- {% for hotel in object_list.all %}
        <div
            class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <div class="w-[100%]">
                    <img class="rounded-t-lg h-[10rem] object-cover w-[100%]"
                        src="{% if hotel.image %}{{hotel.image.url}}{% else %}{% static 'images/placeholder.png' %}{% endif %}"
                        alt="">
                </div>
                
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{hotel.name|title}}
                    </h5>
                </a>
                <ul class="flex mb-4">
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                            class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                            class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                            class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star"
                            class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star"
                            class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
                            </path>
                        </svg>
                    </li>
                </ul>
                {% comment %} <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{hotel.level}}</p> {% endcomment %}
                <a href="#"
                    class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %} -->

    
</div>
{% endblock %}