{% extends "reservation/base.html" %}
{% load static %}

{% load humanize %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans 'Reservation Page' %}  {% endblock %}
{% block content %}
<div class="bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                <a href=""
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                ml-2
                                {% else %}
                                mr-2
                            {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    {% trans 'Bookings' %}
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'reservation:booking_list_all' %}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{% trans 'Indivdual reservations' %}</a>
                </div>
            </li>
        </ol>
    </nav>
    <hr class="my-2 border dark:border-gray-800"/>
    <div class="flex flex-wrap my-2 gap-2">
        <a href="{% url 'reservation:trip_booking_list_all' %}"
            class="py-2 px-3 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">{% trans 'Trip reservations' %}</a>
        <a href="{% url 'reservation:booking_list_all' %}"
            class="py-2 px-3 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
            border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
            dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
            dark:hover:bg-gray-700 cursor-pointer">{% trans 'Indivdual reservations' %}</a>    
    </div>
    <h2 class="my-2 font-bold text-xl dark:text-white">{% trans 'Indivdual reservations' %}</h2>
    <div class="bg-white dark:bg-gray-600 rounded-md my-4">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Id' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Name' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Hotel' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Rooms' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Date' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Phone' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Status' %}
                        </th>
                        <th scope="col" class="px-3 py-2">
                            {% trans 'Payment Status' %}
                        </th>
                        {% comment %} <th scope="col" class="px-3 py-2">
                            <span class="sr-only"></span>
                        </th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for b in object_list.all %}
                     <tr
                        class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <td class="px-3 py-2">
                            <a href="{{b.get_absolute_url}}">{{b.id}}</a>
                        </td>
                        <th scope="row" class="px-3 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            <a href="{{b.get_absolute_url}}">{{b.name}}</a>
                        </th>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.accommodation}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.get_description |linebreaks}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                           <div>{{b.date_from |date:"d / m / Y"}}</div>
                           <div>{{b.date_until |date:"d / m / Y"}}</div>
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {{b.phone}}
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {% if b.get_status == 'previous' %}
                            <span
                                class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">{% trans 'Previous' %}</span>
                            {% elif b.get_status == 'ongoing' %}
                            <span
                                class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">{% trans 'Ongoing' %}</span>
                            {% else %}
                            <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded
                                    dark:bg-blue-200 dark:text-blue-800">{{b.get_status}}</span>
                            {% endif %}
                            
                        </td>
                        <td class="px-3 py-2 whitespace-nowrap">
                            {% if b.get_payment_status == 'remaining' %}
                            <span
                                class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded
                                dark:bg-red-200 dark:text-red-900">{% trans 'remaining' %}
                                {{b.get_remained_price |intcomma:False}}</span>
                            {% elif b.get_payment_status == 'complete' %}
                            <span
                                class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">{% trans 'complete' %}</span>
                            {% else %}
                            {% endif %}
                            
                        </td>
                        <!-- <td class="px-3 py-2 text-right">
                            <div class="inline-flex rounded-md shadow-sm">
                                <a href="{% url 'reservation:booking_detail' b.id %}" aria-current="page"
                                    class="py-2 px-4 text-sm font-medium text-blue-700 bg-white {% if LANGUAGE_CODE == 'ar' %}
                                rounded-r-md
                                {% else %}
                                rounded-l-lg
                            {% endif %} border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-blue-400 dark:hover:text-blue-400 dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-blue-400">
                                    {% trans 'Details' %}
                                </a>

                                <a href=""
                                    class="py-2 px-4 text-sm font-medium text-red-900 bg-white{% if LANGUAGE_CODE == 'ar' %}
                                rounded-l-lg
                                {% else %}
                                rounded-r-md
                            {% endif %} border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-gray-700 dark:border-gray-600 dark:text-red-400 dark:hover:text-red-400 dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-red-400">
                                    {% trans 'Edit' %}
                                </a>
                            </div>
                            
                        </td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
        
</div>


{% endblock %}