{% extends "reservation/base.html" %}
{% load static %}
{% block title %} Destinations {% endblock %}
{% block head %}

{% endblock %}
{% load i18n %}
{% block content %}
<div class="container bg-white dark:bg-gray-600 rounded-md p-4">
    <!-- breadcrumb -->
    <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3 flex-wrap">
            <li class="inline-flex items-center">
                <a href="{% url "reservation:destination_list" %}"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    Destinations
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{% url 'reservation:destination_detail' object.destination.slug%}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{object.destination.name|title}}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <a href="{{object.get_absolute_url}}"
                        class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{object.name|title}}</a>
                </div>
            </li>
        </ol>
    </nav>
    <hr class="my-2 border rounded-md dark:border-gray-800"/>
    <div class="flex flex-wrap my-2 gap-2">
        <div
            class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-500">
            <a href="" class="inline-flex items-center">Hotel Details
            </a>
            
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="" class="inline-flex items-center">Packages
            </a>

        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_hotel" object.slug 'ongoing' %}" class="inline-flex items-center">Ongoing
                Trips</a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_hotel" object.slug 'upcoming' %}"
                class="inline-flex items-center">Upcoming
                Trips</a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_hotel" object.slug 'previous' %}"
                class="inline-flex items-center">Previous
                Trips</a>
        </div>
        <div class="inline-flex py-2 px-2 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800
            dark:border-gray-700 text-sm font-medium
            text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white
            dark:hover:bg-gray-500">
            <a href="{% url "reservation:trip_list_by_hotel" object.slug 'all' %}" class="inline-flex items-center">All
                Trips</a>
        </div>
    </div>
    
    <section class="hotel_detail flex flex-col md:flex-row h-auto w-[100%] my-4">
        <div class="w-[100%] md:w-[48%] p-0 mb-2 md:mb-0 drop-shadow-md md:order-2 ">
            <img src="{{object.image.url}}" alt="hotel image" class="w-[100%] object-contain">
        </div>
        <div class="w-[100%] md:w-[48%] p-0 md:p-3 md:pt-0 md:order-1 ">
            <h1 class="text-2xl mb-2  font-bold dark:text-gray-900">{{hotel.name | title }}</h1>
            <ul class="flex mb-4">
                {% for star in '12345'|make_list %}
                    <li>
                        <svg aria-hidden="true" focusable="false" 
                        
                        {% if  star <= hotel.level %}
                            data-prefix="fas" 
                            {% else %}
                            data-prefix="far" 
                        {% endif %}

                            data-icon="star"
                            class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                            </path>
                        </svg>
                    </li>
                {% endfor %}
                
            </ul>
            <p class="dark:text-gray-200">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta incidunt impedit, quas et possimus libero rerum labore sequi, laborum perspiciatis nisi aliquid enim consequatur cum numquam at ab, ipsam suscipit.</p>
        </div>
        
        
    </section>
</div>
<div class="container bg-white dark:bg-gray-600 rounded-md p-4 my-4">
    <h1 class="text-2xl text-gray-900 font-bold">{{hotel.name | title}} Packages {{hotel.packages.count}}</h1> 
    {% if hotel.packages.count > 0 %}
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Label
                        </th>
                        <th scope="col" class="px-6 py-3">
                            From
                        </th>
                        <th scope="col" class="px-6 py-3">
                            To
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Single Room
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Double Room
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Triple Room
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in hotel.packages.all %}
                    <tr
                        class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <td class="px-6 py-4">
                            {{package.id}}
                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            {{package.label}}
                        </th>
                        <td class="px-6 py-4">
                            {{package.date_from |date:"d / m / Y"}}
                        </td>
                        <td class="px-6 py-4">
                            {{package.date_to |date:"d / m / Y"}}
                        </td>
                        <td class="px-6 py-4">
                            {{package.single_room_full}}
                        </td>
                        <td class="px-6 py-4">
                            {{package.double_room_full}}
                        </td>
                        <td class="px-6 py-4">
                            {{package.triple_room_full}}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline inline-flex m-2">Details</a>
                            <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline m-2">Book</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p class=" dark:text-gray-200 my-2">No packages or prices available ...</p>
    {% endif %}

</div>
{% endblock %}