@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700;900&display=swap');

html {
    font-family: 'Tajawal', sans-serif !important;
}

/* label {
    color: black !important;
} */
legend {
    color: black !important;}

select {
    padding: 0.5rem 2.5rem !important;
}

.pointer-events-none {
    display: none !important;
}