{% extends "reservation/base.html" %}
{% load static %}
{% block title %} Destinations {% endblock %}
{% block head %}
 
{% endblock %}
{% load i18n %}
{% block content %}
    <div class="container bg-white rounded-md p-4">
        <!-- <h1 class="text-xl text-primary font-bold mb-4">Destination's list</h1> -->
        <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-4"
            aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="#"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        Destinations
                    </a>
                </li>
            </ol>
        </nav>

        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
            {% for d in object_list %}
            <a href="{% url "reservation:destination_detail" d.slug %}" class="">
                <div class="relative bg-gray-400 text-gray-800 text-xl border border-primary  rounded-md h-[5rem] px-4 bg-blend-hard-light"
                    {% if d.image %} style="background-image: url({{d.image.url}});background-size: cover;background-repeat: no-repeat;" {% else %}
                " {% endif %}>
                    <div class="text-white">
                        {{d.name | title}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}