{% extends "reservation/base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Destinations" %} {% endblock %}
{% block head %}
 
{% endblock %}

{% get_current_language as LANGUAGE_CODE %} 
{% block content %}
    <div class="container bg-white dark:bg-gray-600 rounded-md p-4">
        <nav class="flex py-3 px-5 text-gray-700 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-4"
            aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a 
                        class="inline-flex items-center ">
                        <svg class="{% if LANGUAGE_CODE == 'ar' %}
                                ml-1
                                {% else %}
                                mr-1
                            {% endif %} w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>    
                        </svg>
                        <div class="text-sm  font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                            {% trans "Destinations" %}
                        </div>
                        
                    </a>
                </li>
            </ol>
        </nav>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for d in object_list %}
            <a href="{% url "reservation:destination_detail" d.slug %}" class="">
                    <div class="text-gray-900 dark:text-white font-bold text-xl ">
                        {{d.name | title}} <span class="text-gray-800">[{{d.hotels.count}}]</span>
                    </div>
                <div class="relative bg-gray-400 text-gray-800 text-xl border border-gray-200 dark:border-gray-700 rounded-md h-[10rem] px-4 hover:bg-blend-darken"
                    {% if d.image %} style="background-image: url({{d.image.url}});background-size: cover;background-repeat: no-repeat;" {% else %}
                " {% endif %}>
                    
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}